<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <style >

        .row {
            margin: 0; // maybe?
            padding: 15;
        }

        article {
            background-color: #e6eaff;
        }

        .problem h1 {
            color: white;
            background-color: #1a82e2;
        }

        .problem section {
            background-color: #2a82e2;
        }

        .problem .description .row {
            background-color: #b0d8f7;
        }



        .customer {
            background-color: #303f9f;
        }

        .solution {
            background-color: #4cb04f;
        }

        .launch-and-growth {
            background-color: #7b1fa2;
        }

        header p {
            font-style: italic;
        }

    </style>
    <title></title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <article class="problem">
                    <section class="description">
                        <h1>Problem</h1>
                        <div class="row">
                            <div class="col-sm">Certainty: {{ page.problem.certainty }}</div>
                            <div class="col-sm">{{ page.problem.description }}</div>
                        </div>
                    </section>
                    <section>
                        <h2>Customer</h2>
                        <header>
                            <p>What persona, persona segment, or customer type experiences the problem most acutely?</p>
                        </header>
                        <p>
                            {{ page.problem.personas }}
                        </p>
                    </section>
                    <section>
                        <h2>Problem</h2>
                        <header>
                            <p>What problem or job does the customer have? (3 sentences max.)
                            </p>
                        </header>
                        <p>Lorem ipsum dolore sint ex non elit pariatur dolor commodo laborum voluptate culpa aliquip non.</p>
                    </section>
                    <section>
                        <h2>Pain</h2>
                        <header>
                            <p>Describe the pain that this problem causes. </p>
                        </header>
                        <p>
                            {{ page.problem.pain }}
                        </p>
                        <div class="row">
                            <div class="col-sm">
                                <p>Pain Level</p>
                            </div>
                            <div class="col-sm">
                                <p>
                                {{ page.problem.pain-level }}
                                </p>
                            </div>
                        </div>
                    </section>
                    <section>
                        <h2>Workarounds</h2>
                        <header>
                            <p>What are users doing today to workaround the pain?</p>
                        </header>
                        <p>{{ page.problem.workarounds }}</p>
                    </section>
                </article>
            </div>
            <div class="col-sm">
                <article class="customer">
                    <section>
                        <h1>Business Case</h1>
                        <div class="row">
                            <div class="col-sm">Certainty: {{ page.business-case.certainty }}</div>
                            <div class="col-sm">{{ page.business-case.description }}</div>
                        </div>
                    </section>
                    <section>
                        <h2>Reach</h2>
                        <header>
                            <p>About how many customers or potential customers currently have this problem? (Low / Worst Case)</p>
                        </header>
                        <p>{{ page.business-case.reach }}</p> 
                    </section>
                    <section>
                        <h2>Impact</h2>
                        <header>
                            <p>Among relevant customers or prospects, how much value do they get from a comprehensive solution to this problem, and how will we capture that value? (Conservative case)</p>
                        </header>
                        <p>{{ page.business-case.impact}}</p> 
                    </section>
                    <section>
                        <h2>Confidence</h2>
                        <header>
                            <p>What are the top risk factors that could inhibit our ability to deliver this solution? Please consider how we can mitigate these risks.</p>
                        </header>
                        <p>{{ page.business-case.confidence }}</p> 
                        <div class="row">
                            <div class="col-sm">Level</div>
                            <div class="col-sm">{{ page.business-case.confidence-level }}</div>
                        </div>
                    </section>
                </article>
            </div>
            <div class="col-sm">
                <article class="solution">
                    <section>
                        <h1>Solution</h1>
                        <div class="row">
                            <div class="col-sm">Certainty: {{ page.solution.certainty }}</div>
                            <div class="col-sm">{{ page.solution.description }}</div>
                        </div>
                    </section>
                    <section>
                        <h2>Viability</h2>
                        <header>
                            <p>What does the "V" in MVC need to have? What must we achieve in the first version of the solution?</p>
                        </header>
                        <p>{{ page.solution.viability }}</p>
                    </section>
                    <section>
                        <h2>Iteration</h2>
                        <header>
                            <p>What should NOT be in the MVC, and can be considered for future iterations? Why?</p>
                        </header>
                        <p>{{ page.solution.iteration }}</p>
                    </section>
                    <section>
                        <h2>Differentiation</h2>
                        <header>
                            <p>What do you believe will differentiate us from the current experience or competitive experiences?</p>
                        </header>
                        <p>{{ page.solution.differentiation }}</p>
                    </section>
                </article>
            </div>
            <div class="col-sm">
                <article class="launch-and-growth">
                    <section>
                        <h1>Launch and Growth</h1>
                        <div class="row">
                            <div class="col-sm">Certainty: {{ page.launch.certainty }}</div>
                            <div class="col-sm">{{ page.launch.description }}</div>
                        </div>
                    </section>
                    <section>
                        <h2>Measures</h2>
                        <header>
                            <p>How will you know you solved the problem? Please list measurable, quantitative indicators (preferred) or qualitative ways you plan on assessing the solution</p>
                        </header>
                        <p>{{ page.launch.measures }}</p>
                    </section>
                    <section>
                        <h2>Messaging</h2>
                        <header>
                            <p>If you were to write a press release, how would you describe the value to customers?</p>
                        </header>
                        <div class="row">
                            <div class="col-sm">Headline</div>
                            <div class="col-sm">{{ page.launch.headline }}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm">First Paragraph</div>
                            <div class="col-sm">{{ page.launch.first-paragraph }}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm">Customer Quote</div>
                            <div class="col-sm">{{ page.launch.customer-quote }}</div>
                        </div>
                    </section>
                    <section>
                        <h2>Go to Market</h2>
                        <header>
                            <p>How are you planning on getting this into customers' hands?</p>
                        </header>
                        <p>{{ page.launch.go-to-market }}</p>
                    </section>
                </article>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <article>
                    <section>
                        <h1>Learnings</h1>
                        <p>What do we know so far, and what do we want to learn next?</p>
                    </section>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Assumptions</th>
                                    <th scope="col">What we thought</th>
                                    <th scope="col">What we learned</th>
                                    <th scope="col">What we think now</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for entry in page.learnings %}
                                <tr>
                                    <td>{{ entry.assumption }}</td>
                                    <td>{{ entry.thought-before }}</td>
                                    <td>{{ entry.learned }}</td>
                                    <td>{{ entry.think-now }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </article>
            </div>
            <div class="col-sm">
                <article>
                    <section>
                        <h1>Learning Goals</h1>
                        <p>What are your top hypotheses that you need to validate in order to know if your solution will solve the problem and elicit love and value?</p>
                    </section>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Hypothesis</th>
                                    <th scope="col">What is the fastest way to attempt to in/validate it?</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for entry in page.learning-goals %}
                                <tr>
                                    <td>{{ entry.hypothesis }}</td>
                                    <td>{{ entry.test-method }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </article>
            </div>
        </div>
    </div>
</body>

</html>
